.btn img 
{
    width: 20px   !important;
    height: 20px  !important;
}

#btn1 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ebdfe8;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

  #btn1 img {
    width: 30px;
    height: 30px;
  }